@{
  if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
  {
    Layout = (string)parentLayout;
  }
  else
  {
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
  }
}


<div>
    <div class="row m-3">
      @RenderBody()
    </div>
</div>

@section Scripts {
  @RenderSection("Scripts", required: false)
}
