@{
  ViewBag.Title = "Progress";
  ViewData["ActivePage"] = "Cards|Upload";
}

<script id="summary-template" type="text/x-kendo-template">
  <div>
    <table>
      <tr>
        <td class="key"><span>File :</span></td>
        <td class="value"><span id="filename"></span></td>
      </tr>
      <tr>
        <td class="key"><span>Total Records :</span></td>
        <td class="value"><span id="total"></span></td>
      </tr>
      <tr>
        <td class="key"><span>Processed Records :</span></td>
        <td class="value"><span id="processed"></span></td>
      </tr>
      <tr>
        <td class="key"><span>Succeed :</span></td>
        <td class="value"><span id="succeed"></span></td>
      </tr>
      <tr>
        <td class="key"><span>Failed :</span></td>
        <td class="value"><span id="failed"></span></td>
      </tr>
    </table>
  </div>
</script>



<style>
  td.key span {
    font-weight: bold;
  }

  td.value {
    text-align: right;
    padding-left: 15px;
  }

  tr {
    height: 36px;
  }

  .console {
    font-family: Courier;
    color: #CCCCCC;
    background: #000000;
    border: 3px double #CCCCCC;
    padding: 10px;
    height: 100%;
    overflow: auto;
  }

  span.status {
    width: 120px;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
  }

  span.created {
    color: seagreen;
  }

  span.nochange {
    color: gray;
  }

  span.error, span.duplicated {
    color: red;
  }
</style>

<script id="progress-template" type="text/x-kendo-template">
  <div id="wrapper">
    <div id="progress"></div>
  </div>
</script>

<script id="console-template" type="text/x-kendo-template">
  <div id="console" class="console">
  </div>
</script>

<kendo-tilelayout name="tiles" columns="6" columns-width="300px" rows-height="50px" on-resize="onTileResize" resizable="true">
  <containers>
    <container body-template-id="summary-template" col-span="2" row-span="5">
      <container-header text="Summary" />
    </container>
    <container body-template-id="progress-template" col-span="4" row-span="5">
      <container-header text="Progress" />
    </container>
    <container body-template-id="console-template" col-span="6" row-span="15">
      <container-header text="Console" />
    </container>
  </containers>
</kendo-tilelayout>

@section Scripts {
  <script src="~/js/signalr/dist/browser/signalr.min.js"></script>

  <script type="text/javascript">
    var hubConnectionId = "";

    var progressFeed = new signalR.HubConnectionBuilder()
      .withUrl('@Url.Action("","progressHub")')
      .withAutomaticReconnect()
      .configureLogging(signalR.LogLevel.Trace)
      .build();

    progressFeed.on("connectionEstablished", function (connectionId) {
      console.log('Progress hub connection established');
      hubConnectionId = connectionId;
      subscribeProgress();
    });


    function subscribeProgress() {
      var urlParams = new URLSearchParams(window.location.search);
      var jobId = urlParams.get('jobId');

      progressFeed.stream("Progress", jobId)
        .subscribe({
          next: onStatusChanged,
          complete: () => {
          },
          error: (err) => {
            console.error(err);
          }
        });

      let o = {
        jobId: jobId,
        hubConnection: hubConnectionId
      };
      $.post('@Url.Action("Start", "upload")', o);
    }

    function padRight(s) {
      return '[' + s.toUpperCase().padEnd(14, ' ') +'] ';
    }

    function createProgressBar(min, max, value) {
      $("#progress").kendoProgressBar({
        min: min,
        max: max,
        value: value,
        animation: false
      });
    }

    var currentFileName = '';

    function onStatusChanged(e) {
      if (currentFileName !== e.fileName) {
        $('#filename').text(e.fileName);
        $('#total').text(e.totalRecords);
        $('#processed').text('0');
        $('#succeed').text('0');
        $('#failed').text('0');
        currentFileName = e.fileName;

        $("#progress").data("kendoProgressBar").destroy();
        $("#wrapper").empty().append("<div id='progress'></div>");
        createProgressBar(0, e.totalRecords, 0);
      }
      else{
        $('#processed').text(e.totalProcessed);
        $('#succeed').text(e.succeed);
        $('#failed').text(e.failed);
        var progress = $('#progress').data("kendoProgressBar");
        progress.value(e.totalProcessed);
      }


      $('#console').append(`<span class="status ${e.status}">${padRight(e.status)}</span><span class="record">${e.record}</span><br/>`);

      var elem = document.getElementById('console');
      elem.scrollTop = elem.scrollHeight;
    }

    $(function () {
      createProgressBar(0, 100, 0);
      progressFeed.start()
        .catch(function (err) {
          return console.error(err.toString());
        });
    });

    function onTileResize(e) {
      if (e.item) {
        kendo.resize(e.item, true);
      }
    }
  </script>
}