<div>

  @(Html.Kendo().Upload()
    .Name("files")
    .Async(a => a
    .Save("Chunk_Upload_Save", "customers")
    .Remove("Chunk_Upload_Remove", "customers")
    .AutoUpload(true)
    .ChunkSize(1000000)
    )
    .Multiple(false)
    .Validation(validation =>
    {
      validation.MaxFileSize(20000000);
      validation.AllowedExtensions(new string[] { ".csv" });
    })
    .Events(e => e.Success("onFileUploaded"))
    .HtmlAttributes(new { accept = ".csv" })
    )
</div>


